body { 
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(223, 22, 49), rgba(65, 17, 25, 0.832));
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: white;
    padding: 30px 30px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(234, 18, 47, 0.975);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login h1 {
    color: rgb(39, 12, 12)
    margin-bottom: 40px;
}

.text {
    padding: 12px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.3s;
}

.text:focus {
    border-color: #e22d2d;
    outline: none;
    box-shadow: 0 0 8px rgb(218, 22, 38);
}

button {
    padding: 12px 30px;
    font-size: 16px;
    background-color: #e22d2d;
    color: white;
    border: none;
    border-radius: 100px; 
    width: 50%;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: #852222;
    transform: scale(1.03);
}